body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
}

.grocery{
  background-color:#ECECEC;
  margin-right: 10px;
  margin-left: 10px;
}

.shopping{
  background-color:#E4F1FE;
  margin-left: 10px;
  margin-right: 10px;
}

.stats{
  background-color:#F2F1EF;
  margin-left: 10px;
  margin-right: 10px;
}
